.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--background);
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  overflow: auto;
  background: var(--background);
}
