---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CARANDEV">
	<section
		class="flex justify-between items-center container mx-auto h-screen"
	>
		<div class="flex flex-col">
			<small class="text-white"> Desarrollador Web Fullstack</small>
			<h1 class="text-green-400 text-3xl">Carlos Andres Gomez Silva</h1>
			<small class="text-gray-500">
				C# - Java - Javascript - Python
			</small>
		</div>
		<article class="w-1/4 text-white">
			Estudiante de ingenería en sistemas, amante de la programación, el
			diseño, la lectura y la educación. Mi finalidad es aprender cada día
			más y compartir mis conocimientos para ayudar a las demás personas.
			La idea de solucionar problemas y ayudar a los demás desde la
			comodidad de mi silla me apasiona.
		</article>
	</section>
</Layout>
