<header
    class="flex justify-around fixed w-full py-4 text-white text-lg font-light md:top-0 bottom-0 h-fit"
>
    <a href="/" class="text-3xl">
        <i class="ti ti-device-laptop"></i>
    </a>
    <nav class="flex gap-4">
        <a
            href=""
            class="hover:border-b-2 hover:border-sky-300 hover:text-sky-300"
            >Sobre mi</a
        >
        <a
            href=""
            class="hover:border-b-2 hover:border-sky-300 hover:text-sky-300"
            >Proyectos</a
        >
        <a
            href=""
            class="hover:border-b-2 hover:border-sky-300 hover:text-sky-300"
            >Contacto</a
        >
    </nav>
</header>
