<nav
  class="absolute left-[calc(50%-104px)] top-4 w-52 md:w-fit md:left-4 md:top-[calc(50%-104px)] flex md:flex-col justify-between text-white text-3xl md:h-52"
>
  <li class="hover:text-green-200 hover:scale-125 transition list-none">
    <a href="https://twitch.tv/carandev" target="_blank">
      <i class="ti ti-brand-twitch"></i>
    </a>
  </li>
  <li class="hover:text-green-200 hover:scale-125 transition list-none">
    <a href="https://github.com/carandev" target="_blank">
      <i class="ti ti-brand-github"></i>
    </a>
  </li>
  <li class="hover:text-green-200 hover:scale-125 transition list-none">
    <a href="https://twitter.com/carandev" target="_blank">
      <i class="ti ti-brand-twitter"></i>
    </a>
  </li>
  <li class="hover:text-green-200 hover:scale-125 transition list-none">
    <a href="mailto:carlosandres0741@gmail.com" target="_blank">
      <i class="ti ti-brand-gmail"></i>
    </a>
  </li>
</nav>
