* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h-screen {
  min-height: 100vh;
}

.nav {
  position: fixed;
  top: calc(50% - 150px);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 250px;
  padding: .5rem;
  z-index: 1;

  border-radius: 0 10px 10px 0;
}

header {
  justify-content: space-evenly;
  align-items: center;
}

h2 {
  text-transform: uppercase;
}

.header-img {
  width: 320px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.sct-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.preview-container {
  position: fixed;
  top: 50px;
  left: calc(50vw - 25vw);
  min-width: 320px;
  min-height: 320px;
  max-width: 500px;
  max-height: 500px;
  padding: 3rem;

  overflow-y: scroll;
}

.preview-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: .5rem;
  cursor: pointer;
  color: var(--white);
  background-color: transparent;
  border: none;
}

.markdown ul {
  list-style: none;
}

.preview-container .markdown h1 {
  color: var(--orange);
  font-size: var(--font-3xl);
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: var(--orange);
}

.markdown {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--white);
}

.markdown a {
  color: var(--cyan);
}

.markdown img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .nav {
    top: 0;
    left: calc(50% - 115px);
    flex-direction: row;
    border-radius: 0 0 10px 10px;
    width: 230px;
    height: fit-content;
  }

  header {
    flex-direction: column;
  }

  .sct-about {
    width: 100vw;
  }

  .sct-about div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .sct-projects {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .p-about {
    width: 300px;
  }

  h1,
  h2 {
    text-align: center;
  }
}
